name: Deploy Shiny App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: rsconnect

      - name: Deploy app to shinyapps.io
        run: |
          Rscript -e "rsconnect::setAccountInfo(
                        name = Sys.getenv('SHINYAPPS_NAME'),
                        token = Sys.getenv('SHINYAPPS_TOKEN'),
                        secret = Sys.getenv('SHINYAPPS_SECRET'))"
          Rscript -e "rsconnect::deployApp(appName = 'variation-between-versions')"
        env:
          SHINYAPPS_NAME: ${{ secrets.SHINYAPPS_USER }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
